{% load static %}
<div class="hero-section w-100">
  <div class="d-flex align-content-center justify-content-center vh-100">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 content d-flex flex-column gap-2">
        <h1 class="">Manage Your Money with Ease</h1>
        <h4>Simplify Your Financial Life with Our Powerful Tools</h4>
        <p>
          Secure, intuitive, and personalized banking solutions at your
          fingertips. Open an account today and take control of your finances
          like never before. Managing your bank accounts has never been simpler.
          Our user-friendly platform offers seamless access to all your
          financial needs, from checking and savings accounts to investment
          portfolios. Enjoy real-time updates, easy transfers, and robust
          security features designed to protect your assets. Whether you're
          budgeting for daily expenses or planning for future goals, our
          comprehensive tools and expert support empower you to make informed
          financial decisions. Join us today and experience the freedom of
          effortless banking.
        </p>
        <button class="btn btn-dark">Get Started Now</button>
      </div>
      <div class="banner col-lg-6">
        <img src="{% static 'banner2.png' %}" class="w-100" />
      </div>
    </div>
  </div>
</div>
