<nav class="navbar navbar-expand-lg bg-body-tertiary py-4">
  <div class="container mx-auto">
    <a class="navbar-brand" href="/">One Bank</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-grow-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav gap-3 mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'transaction_report' %}"> Report </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'deposit_money' %}"> Deposit </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'withdraw_money' %}"> Withdraw </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'loan_request' %}"> Loan </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'balance_transfer' %}">Balance Transfer </a>
        </li>
        {% endif %} {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            Welcome <span>{{request.user}} </span>
            <span class="fw-bold">({{request.user.account.balance}})</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="btn bg-black text-white" href="{% url 'profile' %}">Profile</a>
        </li>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn bg-black text-white">Logout</button>
        </form>
        {% else %}
        <li class="nav-item">
          <a class="btn bg-black text-white" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn bg-black text-white" href="{% url 'register' %}"
            >Register</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
